/* general */
@font-face {
    font-family: "tbc-medium";
    src: url(fonts/tbc-din-mtavruli/TbcDin_Mtavruli_Medium.otf);
}
@font-face {
    font-family: "tbc-bold";
    src: url(fonts/tbc-din-mtavruli/TbcDin_Mtavruli_Bold.otf);
}
*,
*::after,
*::before {
    font-family: "tbc-medium";
}
body {
    font-family: "tbc-medium";
}
.bold {
    font-family: "tbc-bold";
}
